[submodule "src/external-libraries/spdlog"]
	path = src/external-libraries/spdlog
	url = https://github.com/gabime/spdlog
[submodule "HazleEngine/external-libraries/GLFW"]
	path = HazleEngine/external-libraries/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "vendor/GLFW"]
	path = vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "HazleEngine/external-libraries/imgui"]
	path = HazleEngine/external-libraries/imgui
	url = https://github.com/TheCherno/imgui
[submodule "HazleEngine/external-libraries/GLM"]
	path = HazleEngine/external-libraries/GLM
	url = https://github.com/g-truc/glm
